$primary-color: #00965E;
$secondary-color: #007c50;
$accent-color: #f7921e;
$accent-hover: #e87f00;
$text-color: #333;
$light-text: #444;
$footer-text: #333333;
$breakpoint-md: 768px;
$breakpoint-sm: 320px;
